
@use "sass:color";

@use "fonts" as *;
@use "index" as *;

$primary: #1f6aa0;

html {
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
}

body {
	margin: 0 auto;
	padding-top: 2em;
	box-sizing: border-box;
	background: repeating-linear-gradient(-45deg,#1f3f8f 0 20px, #102a6e 20px 40px) black;
	background-repeat: no-repeat;
	color: white;
	margin: auto;

	padding-bottom: 100px;
	min-height: 100vh;
	max-width: 1200px;
}

a {
	color: cyan;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h2, h3, h4, h5, h6 {
	margin-top: 1em;
	padding-left: 5px;
	border-bottom: 1px solid #4c4c6b;
}

img {
	max-width: 100%;
}

p, li {
	line-height: 1.75;
}

ul li, ol li {
	margin: 5px 0;
}

pre, code {
	font-size: 1rem;
	background-color: #141414;
}
pre {
	padding: 12px;
	overflow: auto;
	overflow-y: hidden;
	tab-size: 4;
}
code {
	padding: 0px 3px;
	margin: 0px -3px;
}

header {
	text-align: center;

	img {
		max-width: 100%;
		width: 300px;
	}
}

figure {
	text-align: center;
	margin: 10px 0;

	figcaption {
		font-style: italic;
		margin-top: 3px;
	}

	img {
		border-radius: 6px;
	}
}

time { font-weight: bold; }

main {
	background-color: #191941;
	padding: 1px 20px;
}

@media screen and (max-width: 800px) {
	main {
		padding: 1px 10px;
	}
}

footer {
	text-align: center;
}

.image-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 15px;

	img {
		border: 1px solid black;
		width: 540px;
	}
}

.postentry {
	margin-bottom: 45px;
}

.blog-meta {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	gap: 0 25px;
	align-items: center;
}

.note {
	margin: 20px 0px;
	padding: 1px 20px;
	background-color: rgba(255,255,255,0.1);
}

.author {
	margin-left: 5px;
	display: inline-block;
}

.latest-news {
	line-height: 2;

	time {
		display: inline-block;
		width: 115px;
	}
}


