<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tensy</title>

	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
	<header>
		<a href="/"><img src="/assets/title.webp" alt="Tensy"></a>
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		<p>
			Made by
			<span class="author">
				<img src="/assets/raccoon.webp" width="16" height="16">
				<a href="https://voxelmanip.se">ROllerozxa</a>
			</span>
		</p>
	</footer>
</body>
</html>
